:root {
  --orange: #ffb342;
  --footer: #ffac30;
  --lato: "Lato", sans-serif;
  --poppins: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #444;
  text-decoration: none;
}

.title {
  border-bottom: 3px solid #444;
  padding-bottom: 5px;
}

.title h1 {
  color: #444;
  font-family: var(--lato);
  font-size: 30px;
  font-weight: 900;
}

/* navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 200px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  background-color: white;
}

nav .logo a p {
  font-family: var(--lato);
  font-weight: 900;
  margin-top: 0px;
  font-size: 25px;
}

nav .list-items ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-weight: 500;
  font-family: var(--poppins);
}

nav ul span {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul span li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--orange);
  transition: 0.2s;
}

nav ul span li:hover {
  background-color: var(--orange);
}

/* hamburger menu */

nav .list-items {
  position: relative;
}

nav .list-items label {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;

  display: none;
}
nav .list-items #check {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  display: none;
}

nav .list-items label div {
  width: 28px;
  height: 3px;
  background-color: #444;
  border-radius: 4px;
}

nav .list-items label div:nth-child(2) {
  width: 24px;
}

@media screen and (max-width: 850px) {
  nav {
    padding-inline: 100px;
    font-size: 15px;
  }
  nav .list-items ul {
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding-inline: 50px;
  }
  nav .list-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .list-items label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    width: 44px;
    height: 44px;
    transition: 0.2s ease-out;
  }
  nav .list-items label:active {
    border-radius: 100%;
    background-color: rgb(223, 223, 223);
  }

  /* input */
  nav .list-items #check {
    transition: 0.2s;
  }
  nav .list-items #check:hover {
    cursor: pointer;
  }

  nav .list-items ul {
    position: fixed;
    bottom: -400px;
    flex-direction: column;
    left: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    transition: all 0.5s ease;
    height: 350px;
    z-index: 10;
    background-color: #ffb342;
  }
  #check:checked ~ ul {
    bottom: 0px;
  }
  nav .list-items ul a {
    width: 45%;
    /* border-bottom: 2px solid #ffdca8; */
  }

  nav .list-items ul li {
    width: 100%;
    border: 2px solid var(--orange);
    padding: 18px 15px;
    border-radius: 10px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 17px;
  }
}
/* home */
.container-home {
  background: url("/src/components/img/bg/bg-home.png");
  height: 120vh;
  background-position: center;
  background-size: 1665px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--poppins);
}

.container-home .hero h1 {
  font-weight: 700;
  font-size: 45px;
}
.container-home .hero p {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.container-home .hero .open-at {
  border: 3px solid #ffac30;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.container-home .hero .open-at p {
  font-family: var(--lato);
  font-weight: 900;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .container-home .hero {
    padding: 5px;
    /* background-color: #ffac30; */
  }
  .container-home .hero h1 {
    font-size: 30px;
    text-align: center;
  }
  .container-home .hero p {
    font-size: 15px;
  }
  .container-home .hero .open-at {
    margin-top: 10px;
  }
}

/* tentang */
.container {
  margin-inline: auto;
  padding-top: 120px;
  height: 100vh;
  width: 76%;
  /* margin-bottom: -100px; */
}

.container .hero {
  margin-top: 75px;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.container .hero #img-about {
  width: 350px;
  height: 580px;
  border-radius: 30px;
  transform: rotateY(180deg);
  filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.5));
}

.container .hero .about-section {
  color: #444;
}
.container .hero .about-section h2 {
  font-family: var(--poppins);
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
}

.container .hero .about-section p {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 20px;
  width: 700px;
}

.container .hero .about-section .icons-container {
  display: flex;
  margin-top: 20px;
  gap: 33px;
}
.container .hero .about-section .icons-container .icon-container {
  border: 3px solid #444;
  width: 187px;
  height: 128px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.container .hero .about-section .icons-container .icon-container:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.container .hero .about-section .icons-container .icon-container p {
  width: fit-content;
  font-size: 21px;
}

.container .hero .about-section .icons-container .icon-container .icon {
  width: 60px;
  height: 65px;
}

.container .hero .about-section .order-now {
  border: 3px solid var(--orange);
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 40px;
  transition: 0.3s ease;
}

.container .hero .about-section .order-now:hover {
  background-color: var(--orange);
  cursor: pointer;
  transform: translateY(-4px);
}

.container .hero .about-section .order-now p {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    height: 80vh;
    width: 85%;
  }
  .container .hero {
    margin-top: 0;
  }

  .container .hero .about-section {
    width: 100%;
  }

  .container .hero .about-section h2 {
    font-size: 21px;
  }

  .container .hero .about-section .about-text {
    font-size: 16px;
    width: 300px;
  }

  .container .hero #img-about {
    display: none;
  }

  .container .title {
    width: 100%;
  }

  .container .title h1 {
    font-size: 28px;
  }
  .container .hero .about-section .icons-container {
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .container .hero .about-section .icons-container .icon-container {
    width: 150px;
    height: 120px;
  }
  .container .hero .about-section .icons-container .icon-container .icon {
    width: 40px;
    height: 45px;
  }
  .container .hero .about-section .icons-container .icon-container p {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .container .hero .about-section .order-now {
    width: 100%;
    height: 50px;
  }
  .container .hero .about-section .order-now p {
    font-size: 17px;
  }
}

/* menu */

.menu-container {
  background: url("./components/img/bg/bg-menu.jpg");
  background-repeat: no-repeat;
  background-size: 1665px;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.menu-container #title-menu {
  width: 76%;
  margin: auto;
}

.menu-container .menu-lists {
  padding-top: 40px;
  width: 76%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
}

.menu-container .menu-lists .menu {
  border: 4px solid #444;
  border-radius: 20px;
  width: 393px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
}

.menu-container .menu-lists .menu:hover {
  cursor: pointer;
  background-color: var(--orange);
  transform: translateY(-5px);
}

.menu-container .menu-lists .menu .menu-img {
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.3));
}

.menu-container .menu-lists .menu .pricing {
  font-size: 25px;
  color: #444;
  font-family: var(--poppins);
}

.menu-container .menu-lists .menu .pricing h3 {
  font-weight: 700;
}
.menu-container .menu-lists .menu .pricing h3:nth-child(2) {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .menu-container {
    height: 210vh;
    background-size: cover;
  }

  .menu-container .menu-lists .menu {
    width: 100%;
    height: 150px;
  }

  .menu-lists .menu .pricing h3 {
    font-size: 20px;
    text-align: center;
  }
}

/* review */
.carousel-container {
  margin-top: 30px;
  position: relative;
  padding: 10px;
}
.carousel-container .reviews .review {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  flex-direction: column;
  border: 2px solid #444;
  width: 914px;
  height: 385px;
  margin: auto;
}

.carousel-container .reviews .review .reviewer-img {
  width: 117px;
  height: 114px;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.3));
}

.carousel-container .reviews .review .name {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 30px;
  color: #444;
}

.carousel-container .reviews .review .stars {
  width: 163px;
  margin-top: 5px;
}

.carousel-container .reviews .review p {
  font-family: var(--poppins);
  font-weight: 500;
  color: #444;
  font-size: 20px;
  text-align: center;
  width: 700px;
  margin-top: 5px;
}

.carousel-container .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 15px;
  margin-inline: auto;
  margin-block: 20px;
  gap: 10px;
}

.carousel-container .dots button {
  border: 2px solid #444;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.filled-dot {
  background-color: #444;
}

.carousel-container button {
  outline: none;
  border: none;
  width: 25px;
  height: 25px;
}

.carousel-container button:hover {
  cursor: pointer;
}

.carousel-container button img {
  width: 25px;
  height: 25px;
}

.carousel-container .left {
  transform: rotateY(180deg);
  position: absolute;
  bottom: 50%;
  left: 0;
}

.carousel-container .right {
  position: absolute;
  right: 0;
  bottom: 50%;
}
@media screen and (max-width: 600px) {
  .carousel-container .reviews .review {
    width: 85%;
  }
  .carousel-container .reviews .review .reviewer-img {
    width: 95px;
    height: 94px;
  }
  .carousel-container .reviews .review .name {
    font-size: 20px;
    margin-top: 10px;
  }
  .carousel-container .reviews .review .stars {
    width: 120px;
  }
  .carousel-container .reviews .review p {
    font-size: 15px;
    width: 90%;
  }
}

/* footer */
footer {
  width: 100%;
  height: 290px;
  background-color: var(--footer);
  /* margin-top: -400px; */
  font-family: var(--poppins);
  color: #333;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -200px;
}

footer .info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin: auto;
  gap: 130px;
}

footer img {
  width: 30px;
}

footer .info .contact img {
  width: 35px;
  margin-bottom: -10px;
  margin-left: -5px;
}
footer .info .address {
  width: 250px;
}

footer .info .contact {
  width: 201px;
}

footer .info .email {
  width: fit-content;
  height: 100%;
}

footer .credit {
  position: absolute;
  bottom: 0;
  padding-block: 15px;
  font-family: var(--lato);
  border-top: 1px solid #333;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
footer .credit p {
  font-weight: 600;
}
footer .credit p a {
  color: #333;
}

@media screen and (max-width: 600px) {
  footer {
    height: fit-content;
    padding-top: 50px;
    margin-top: 1px;
  }
  footer .info {
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 50px;
    flex-direction: column;
  }
  footer .info .address,
  footer .info .contact,
  footer .info .email {
    width: 100%;
  }
  footer .credit {
    position: static;
    font-size: 14px;
    padding-block: 10px;
    margin-top: 10px;
  }
}
